* {
   font-size: 15px;
}

.sidenav {
   height: 100%;
   width: 200px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 20px;
}

.sidenav a {
   padding: 8px 8px 8px 16px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
}

.sidenav a:hover {
   color: #f1f1f1;
   border-bottom: 1px solid #f1f1f1 !important;
}

.side-active {
   color: #fff;
}

.main {
   margin-left: 194px; /* Same as the width of the sidenav */
   font-size: 28px; /* Increased text to enable scrolling */
   padding: 0px 10px;
}

@media screen and (max-height: 450px) {
   .sidenav {
      padding-top: 15px;
   }
   .sidenav a {
      font-size: 18px;
   }
}
.query {
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   padding-top: 0.5rem;
   padding-bottom: 0.001rem;
}
.query-text {
   font-size: 20px;
}

.container-fluid {
   background-color: #f2f2f2;
   padding: 1rem;
   height: 100vh;
}
