@{
   ViewData["Title"] = "About";
   Layout = "_Layout";

}
@section Headers {
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
      h3 {
         margin-top: 50px;
         padding-bottom: 10px;
         border-bottom: 1px solid #eee;
      }
      /* vs2015 theme specific*/
      pre {
         background: #1E1E1E;
         color: #eee;
         padding: 0.5em !important;
         overflow-x: auto;
         white-space: pre;
         word-break: normal;
         word-wrap: normal;
      }

         pre > code {
            white-space: pre;
         }
   </style>
}
<div class="container">
   <markdown url="https://raw.githubusercontent.com/Alirezanet/Gridify/master/README.md" />
</div>
@section Scripts {
   <!-- Syntax Highlighting code -->
   <script src="~/lib/highlightjs/highlight.pack.js"></script>
   <link href="~/lib/highlightjs/styles/vs2015.css" rel="stylesheet" />

   <script>
      // apply HighlightJS
      var pres = document.querySelectorAll("pre>code");
      for (var i = 0; i < pres.length; i++) {
         hljs.highlightBlock(pres[i]);
      }
      // https://github.com/RickStrahl/highlightjs-badge
      window.highlightJsBadge();
   </script>
}
